@inject IJSRuntime js

<div class="games-container">
<GenericList List="Games">
    <ElementTemplate Context="game">
        <IndividualGame Game="game"
                DeleteGame="DeleteGame"/>
    </ElementTemplate>
</GenericList>
</div>

@code {
    [Parameter] public List<Game> Games { get; set; }  

    private async Task DeleteGame(Game game) 
    {
        var confirmed = await js.Confirm($"Are you sure you want to delete {game.Title}");
        if(confirmed) 
        {
            Games.Remove(game);
        }

    }
}