@page "/genre/create"


<h1>Create genre</h1>

<GenreForm Genre="genre" OnValidSubmit="Create"/>

@code {
    private Genre genre = new Genre();

    private async Task Create()
    {
        Console.WriteLine("Create method");
        Console.WriteLine(genre.Name);
    }
}