@page "/genres"
@inject IGenreRepository genreRepository
@attribute [Authorize]

<h1>genres</h1>

<div class="form-group">
        <a class="btn btn-info" href="genre/create">New genre</a>
</div>

<GenericList List="Genres">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Genres)
                {
                    <tr>
                        <td>
                            <a href="/genre/edit/@item.Id" class="btn btn-success">Edit</a>
                            <button @onclick="@(() => DeleteGenres(item.Id))" class="btn btn-danger">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code{
    List<Genre> Genres;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Genres = await genreRepository.GetGenres();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private async Task DeleteGenres(int Id)
    {
        await genreRepository.DeleteGenre(Id);
        Genres = await genreRepository.GetGenres();
    }
}

