@page "/login"
@inject IAccountRepository accountRepository
@inject NavigationManager NavigationManager
@inject ILoginService loginService
@using gamecenter.Client.Authentication.Interface

<h3>Log in</h3>

<EditForm Model="userInfo" OnValidSubmit="CreateUser">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Email:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)" />
        </div>
        <label>Password:</label>
        <div>
            <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
            <ValidationMessage For="@(() => userInfo.Password)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code{
    private UserInfo userInfo = new UserInfo();

    private async Task CreateUser()
    {
        var userToken = await accountRepository.Login(userInfo);
        await loginService.Login(userToken.Token);
        NavigationManager.NavigateTo("");
    }
}