@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Welcome, @context.User.Identity.Name!</span>
                    <a href="Logout" class="nav-link btn btn-link">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Login" class="nav-link btn btn-link">Login</a>
                    <a href="Register" class="nav-link btn btn-link">Register</a>
                </NotAuthorized>
        </AuthorizeView>
            <a href="about">
                <span aria-hidden="true" class="ml-md-auto"></span> About
            </a>
        </div>

        <div class="content px-4" style="margin-bottom: 20px;">
                @Body            
        </div>
    </div>
</div>