@page "/people"


<h1>people</h1>

<div class="form-group">
    <button class="btn btn-info">
        <a href="person/create">New Person</a>
    </button>
</div>

        <table class = "table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <a class = "btn btn-success">Edit</a>
                            <button class = "btn btn-danger">Delete</button>
                        </td>
                        <td>Ulrik Rosberg 1</td>
                    </tr>
                     <tr>
                        <td>
                            <a class = "btn btn-success">Edit</a>
                            <button class = "btn btn-danger">Delete</button>
                        </td>
                        <td>Ulrik Rosberg 2</td>
                    </tr>
            </tbody>
        </table>

